<?xml version="1.0" encoding="utf-8"?>
<!--
 SabberStone, Hearthstone Simulator in C# .NET Core
 Copyright (C) 2017-2019 SabberStone Team, darkfriend77 & rnilva

 SabberStone is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License.
 SabberStone is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
-->
<packages>
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NumSharp" version="0.20.5" targetFramework="net461" />
  <package id="NumSharp.Lite" version="0.1.7" targetFramework="net461" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net461" />
  <package id="SciSharp.TensorFlow.Redist-Windows-GPU" version="1.15.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.3" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="TensorFlow.NET" version="0.15.1" targetFramework="net461" />
</packages>